.bannar{
background-image: url('https://i.ibb.co/3BXSLh6/banner.png');
background-size: cover;
background-repeat: no-repeat;
background-position:center;
background-blend-mode: multiply;
background-color: rgb(122, 115, 113);

}
.headding{
    text-align: left;
    color:white;
    font-family: none;
    font-weight: bold;

}